<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="10" name="Test">
    <classes>
      <class name="stage.NewTest"/>
      <class name="stage.packageModel"/>
      <class name="stage.contactModel"/>
      <class name="stage.productModel"/>
      <class name="stage.cartModel"/>
      <class name="stage.msiteQuickModel"/>
      <class name="stage.msitePackageModel"/>
      <class name="stage.msiteContactModel"/>
      <class name="stage.msiteProductModel"/>
      <class name="stage.msiteCartModel"/>
      <class name="stage.mobilerecharge"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
